html {
    box-sizing: border-box;
}

*, *:after, *:before{
    box-sizing: inherit;
}

#parent{
    /* Flex Container */
    border: solid red 10px;
    display: flex;
    flex-direction: column-reverse;
    
}

#parent div {
    /* Flex items */
    border: solid blue 2px;
    padding: 20px;
    background: bisque;
    min-width: 100px;
    
}