.home-title {
    font-size: 3rem;
    margin-top: 5rem;
    letter-spacing: 0.5rem;
}

.login-wrapper{
    margin: 50px auto;
    width: 600px;
}
.login-wrapper .signup-btn{
    cursor: pointer;
    width: 300px;
    margin: 20px auto;
    color: black;
    
}

.login-wrapper .signup-btn:hover{
    text-decoration: underline;
}

.input-group{
    margin-bottom: 1.6rem;
}

.login-wrapper h4{
    font-size: 2rem;
    letter-spacing: 4px;
}

.anchortext{
    text-decoration: none;
    color: white;
}
@media (max-width: 764px) {
    .login-wrapper{
        width: 100%;
    }
    .home-title{
        font-size: 2rem;
        letter-spacing: 0.1rem;
        margin-top: 2rem;
    }
    .login-wrapper h4{
        font-size: 1.5rem;
    }
}